<?xml version="1.0" encoding="UTF-8"?>
<plugin id="nl.coldfusiondeveloper.mango.plugins.rememberLogin" name="rememberLogin" version="1.0" provider-name="Paul Klinkenberg" class="rememberLogin.PluginHandler">
	<description><![CDATA[ Adds a 'remember login' checkbox to the login form, and... remembers your login across sessions if you checked it, and succesfully logged on.
	<br />Written by Paul Klinkenberg, <a href="http://www.coldfusiondeveloper.nl/" target="_blank" title="Opens in new window">www.coldfusiondeveloper.nl</a> ]]></description>
	<requiresVersion match="greaterOrEqual">0.1</requiresVersion>
	<listens>
		<!-- add checkbox to form / delete cookie if they logged out -->
		<event name="beforeAdminLoginTemplate" type="synch" priority="5" />
		<!-- There is no event dispatched after a succesfull login, so we'll have to cope with the overhead
		of checking form.rememberlogin on every request. -->
	  	<event name="mainNav" type="synch" priority="1" />
	</listens>
</plugin>