<?xml version="1.0" encoding="UTF-8"?>
<plugin id="nl.coldfusiondeveloper.mango.plugins.cfmlincluder" name="cfmlincluder" version="1.0" provider-name="Paul Klinkenberg" class="cfmlincluder.plugin">
	<description><![CDATA[ Gives you the ability to include your own cfm/html files after a full post/page.<br/>
	<br/>
	Kindly hacked into your mangoblog system by <a href="http://www.coldfusiondeveloper.nl/">Paul Klinkenberg</a> ]]></description>
	<requiresVersion match="greaterOrEqual">1.3</requiresVersion>
	<listens>
		<event name="beforePostContentEnd" type="synch" priority="10" />
		<event name="beforePageContentEnd" type="synch" priority="10" />
		<event name="beforeAdminPostFormDisplay" type="synch" priority="2" />
		<event name="beforeAdminPostFormEnd" type="synch" priority="2" />
		<event name="beforeAdminPageFormDisplay" type="synch" priority="2" />
		<event name="beforeAdminPageFormEnd" type="synch" priority="2" />
		<event name="afterPostAdd" type="synch" priority="2" />
		<event name="afterPostUpdate" type="synch" priority="2" />
		<event name="afterPageAdd" type="synch" priority="2" />
		<event name="afterPageUpdate" type="synch" priority="2" />
	</listens>
</plugin>